.about-container {
	display: flex;
	flex-direction: column;
	width: 83%;
	margin: auto;
}

.about-article {
	margin: 15px 0 15px;
	width: 100%;
}

.about-article-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 47px;
	padding: 0 18px 0 18px;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #FF6060;
	border-radius: 5px;
}

.about-article-description {
	font-weight: 400;
	font-size: 24px;
	color: #FF6060;
	background-color: #F6F6F6;
	border-radius: 5px;
}

@media screen and (max-width: 700px) {
	.about-container {
		width: 100%;
	}

	.about-article {
		margin: 10px 0 10px;
	}

	.about-article-title {
		height: 30px;
		font-size: 13px;
		padding: 0 10px 0 10px;
	}

	.arrow-icon {
		height: 10px;
	}

	.about-article-description {
		font-size: 12px;
		padding: 0px;
	}

	.about-article-description.show {
		padding: 10px;
	}
}