.about-article {
	margin: 15px 0 15px;
}

.about-article-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 47px;
	padding: 0 18px 0 18px;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #FF6060;
	border-radius: 5px;
}

.about-article-description {
	font-weight: 400;
	font-size: 24px;
	color: #FF6060;
	background-color: #F6F6F6;
	border-radius: 5px;
}

footer {
	margin-top: 40px;
}

/* Effets */

.arrow-icon {
	transition: transform 0.3s ease-in-out;
}

.rotate {
	transform: rotate(180deg);
}

.about-article-description {
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.about-article-description.show {
	height: auto;
	padding: 20px;
	opacity: 1;
}

.about-article-description.hide {
	opacity: 0;
	height: 0;
}

@media screen and (max-width: 700px) {
	.about-container {
		width: 100%;
	}

	.about-article-title {
		height: 30px;
		font-size: 13px;
		padding: 0 10px 0 10px;
	}

	.arrow-icon {
		height: 10px;
	}

	.about-article-description {
		font-size: 12px;
		padding: 0px;
	}

	.about-article-description.show {
		padding: 10px;
	}
}