footer {
	margin-top: 40px;
}

/* Effets */

.arrow-icon {
	transition: transform 0.3s ease-in-out;
}

.rotate {
	transform: rotate(180deg);
}

.about-article-description {
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.about-article-description.show {
	height: auto;
	padding: 20px;
	opacity: 1;
}

.about-article-description.hide {
	opacity: 0;
	height: 0;
}